body.cover { 
  .site-wrapper {
    .site-wrapper-inner { 
      .cover-container { 
        .masthead { 
          .masthead-brand {}
          .nav-masthead {
            .nav-link {
              &:hover, &:focus {}
            }
            .nav-link + .nav-link {}
            .active {}
          }
        } // END .masthead
        .inner {} // END .inner
        .cover {
          
          @import 'lecture-cover.scss';
          .btn-lg {}
          .btn { border-color: $col_gray_solid; background-color:$col_MARINE_wt_solid; color:$col_zeroblue_solid; text-shadow: none; }

        } // END .cover
        .mastfoot {
        } // END .mastfoot
      } // END .cover-container
    } // END .site-wrapper-inner
  } // END .site-wrapper 
} // END body.cover