body.justified {
  color: $col_MARINE_bl_solid;

  .container {
    .masthead { 
      .text-muted { color:$col_MARINE_bl_solid !important; } // h3.text-muted 
      .navbar {
        border-color:$col_MARINE_bl_opq;

        .navbar-toggler {
          color:$col_MARINE_bl_moar_opq; border-color:$col_MARINE_bl_alfa; 

          .navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");} 
        }
        .navbar-nav {          
          .nav-item { .nav-link {color: $col_MARINE_bl_opqish;} } // END .nav-item
        } // END .navbar-nav

      } // END nav.navbar
    } // END .masthead
    .jumbotron {
      
      @import 'lecture-justified.scss';
      
      .btn { border-color: $col_MARINE_bl_solid; background-color:$col_MARINE_bl_mo_opqish; color:$col_MARINE_wt_solid; text-shadow: none; }

    } // END .jumbotron
    .footer {} // END .footer
  } // END .container
} // END body.justified
