@import 'staticVars.scss';

:focus { outline: none; }

/*------------------ COVER ------------------*/
@import '../as_classes/cover.scss'; 
@import 'cover.scss';
/*------------------ JUSTIFIED ------------------*/
@import '../as_classes/justified-nav.scss'; 
html, body.justified {
  height: 100%;
  background-color: $col_MARINE_wt_solid;
}
@import 'justified.scss';