      .lecture {
        h1 {} // h1.cover-heading
        h2 {}
        p {}
        form {
          h2 {}
          h3 {}
          h4 {}
          p {}
          .form-group {
            
            // label[for="processingStatus"], label[for="maritimeHabits"], label[for="recruit"], label[for="recruitment"], label[for="process"], label[for="RecallG5enroll"], label[for="processSubject"], label[for="dispatchG5"], label[for="busterCall"] { color: red; display: block;} 

            label { 
              input {}
              span.burrowedFirst {}
              input {}
              span.burrowedFirst {}
            }
            input {}
            input[ type="submit"] {
              margin: 10px 0 5px 0;
            }
            .code { color: $col_dark_pink_solid; background-color: $col_MARINE_wt_solid; font-family: $fnt_Courier_New; } // p.code
            p { // index, per se
              label {}
              input {}
            }
          } // div.form-group
          //.amber { color: $col_dark_pink_solid; background-color: $col_MARINE_wt_sld_ii; font-family: $fnt_Courier_New; }
          .amber { color: $col_hankiness_solid; background-color: pink; font-family: $fnt_Courier_New; } // code.amber
          //.amber { color: $col_hankiness_solid; background-color: $col_MARINE_wt_solid; font-family: $fnt_Courier_New; } // code.amber
        } // END form
      } // END div.lecture