// -------- FONT STACKS -------------
$fnt_Courier_New: "Menlo,Monaco,Consolas,"Courier New",monospace";

// ------------------- COLORS --------------------- 
// -------- solid HEX VALUEs ~ assortment of 1 color at present moment -------------
$col_transparent: transparent; 

// ---------- RGBAs ------------------------
$col_MARINE_wt_solid: rgba(247,247,249,1); // #F7F7F9
$col_MARINE_wt_sld_ii: rgba(249,242,244,1);

$col_MARINE_bl_solid: rgba(0,0,255,1); // #0000FF
$col_MARINE_bl_opqish: rgba(0,0,255,0.9);
$col_MARINE_bl_mo_opqish: rgba(0,0,255,0.7);
$col_MARINE_bl_opq: rgba(0,0,255,.6); 
$col_MARINE_bl_moar_opq: rgba(0,0,255,.5);
$col_MARINE_bl_alfa: rgba(0,0,255,.1);

$col_zeroblue_solid: rgba(51,51,51,1);

$col_gray_solid: rgba(204,204,204,1);

$col_wt_solid: rgba(255,255,255,1); 
$col_bk_solid: rgba(0,0,0,1); 

$col_dark_pink_solid: rgba(199,37,78,1);
$col_hankiness_solid: rgba(128,64,0,1);

$col_wt_opqe: rgba(255, 255, 255, 0.8); 

$col_zero_navy_alfa: rgba(3,108,127, 0); // #036C7F