html, body.cover {
  height: 100%;
  background-color: #333333;

  a {
    color: #FFFFFF;
    &:focus , &:hover { color: #FFFFFF; }
  }

  .btn-secondary {
    color: #333333; text-shadow: none; background-color: #FFFFFF; border: .05rem solid #FFFFFF;  
    &:focus, &:hover { color: #333333; text-shadow: none; background-color: #FFFFFF; border: .05rem solid #FFFFFF; } 
  }
  
}

body.cover { 
  color: #FFFFFF; 
  text-align: center; 
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5); 

    .site-wrapper {

    display: table;
    width: 100%;

    height: 100%; 
    min-height: 100%;

    // -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
    box-shadow: inset 0 0 5rem rgba(0,0,0,.5);

    .site-wrapper-inner { 
      display: table-cell; 
      vertical-align: top;

      .cover-container { 
        margin-right: auto; 
        margin-left: auto;

        .inner { 
          padding: 2rem; 
        } // END .inner
        
        .cover {
          padding: 0 1.5rem; 

          .btn-lg {
            padding: .75rem 1.25rem; 
            font-weight: bold; 
          }

        } // END .cover

        .masthead { 
          margin-bottom: 2rem; 

          .masthead-brand {
            margin-bottom: 0; 
          }

          .nav-masthead {

            .nav-link {
              padding: .25rem 0;
              font-weight: bold;
              color: rgba(255,255,255,.5);
              background-color: transparent;
              border-bottom: .25rem solid transparent;

              &:hover, &:focus {
                border-bottom-color: rgba(255,255,255,.25);
              }

            }

            .nav-link + .nav-link { margin-left: 1rem; }

            .active { color: #FFFFFF; border-bottom-color: #FFFFFF; }

          }

        } // END .masthead

        .mastfoot {
          color: rgba(255,255,255,.5);

        } // END .mastfoot

      } // END .cover-container

    } // END .site-wrapper-inner
  } // END .site-wrapper 
} // END body.cover

@media (min-width: 40em) {
  body.cover {
    .site-wrapper {

      .site-wrapper-inner { 
        
        /* Start the vertical centering */ 
        vertical-align: middle; 
        
        .cover-container { 
          /* Handle the widths *//* Must be percentage or pixels for horizontal alignment */ 
          width: 100%;
          
          .masthead {
            /* Pull out the header */
            position: fixed; top: 0;
            /* Handle the widths *//* Must be percentage or pixels for horizontal alignment */ 
            width: 100%;

          } // END .masthead

          .mastfoot {
            /* Pull out the footer */
            position: fixed; bottom: 0;
            /* Handle the widths *//* Must be percentage or pixels for horizontal alignment */ 
            width: 100%;

          } // END .mastfoot

        } // END .cover-container

      } // END .site-wrapper-inner
    } // END .site-wrapper
  }  
}

@media (min-width: 48em) {
  body.cover {
    .site-wrapper {

      .site-wrapper-inner { 
        
        .cover-container { 
          
          .masthead {

            .masthead-brand {
              float: left;
            }

            .nav-masthead {
              float: right; 
            }

          } // END .masthead

        } // END .cover-container

      } // END .site-wrapper-inner
    } // END .site-wrapper  
  }  
}

@media (min-width: 62em) {
  body.cover {
    .site-wrapper {

      .site-wrapper-inner { 
        
        .cover-container { 
          width: 42rem;
          
          .masthead {
            width: 42rem;

          } // END .masthead

          .mastfoot {
            width: 42rem;
          } // END .mastfoot

        } // END .cover-container

      } // END .site-wrapper-inner
    } // END .site-wrapper
  }
}