body.justified {
  padding-top: 20px;
  
  .container {

    .masthead {
      
      .navbar {
        
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7),to(#eee));
        // background-image: -webkit-linear-gradient(top, #f7f7f7 0%,#eee 100%);
        // background-image: -o-linear-gradient(top, #f7f7f7 0%,#eee 100%);
        background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);

        border: 1px solid #e5e5e5;

        .navbar-nav {
          
          .nav-item {

          } // END .nav-item

        } // END .navbar-nav

      } // END .navbar
      
    } // END .masthead

    .jumbotron {
      /* Main marketing message and sign up button */
      text-align: center;
      background-color: transparent;

      .btn {
        padding: 14px 24px;
        font-size: 21px;
      }

    } // END .jumbotron

    .footer {
      padding-top: 40px;
      padding-bottom: 40px;
      margin-top: 40px;
      border-top: 1px solid #eee;
    } // END .footer

  } // END .container

}

@media (min-width: 768px) {
  body.justified {
    
    .container {

      .masthead {
        
        .navbar {
          
          .navbar-nav {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            
            .nav-item {
              -webkit-box-flex: 1;
              -webkit-flex: 1 0 auto;
              -ms-flex: 1 0 auto;
              flex: 1 0 auto;
            } // END .nav-item

          } // END .navbar-nav

        } // END .navbar
        
      } // END .masthead

    } // END .container
  }
}


@media screen and (min-width: 768px) {

  body.justified {

    /* Responsive: Portrait tablets and up */
    .container {

      .masthead {
        /* Remove the padding that was set earlier */ 
        padding-right: 0; padding-left: 0; 
        
      } // END .masthead

      .marketing {
        
        // /* Remove the padding that was set earlier */ 
        // padding-right: 0; padding-left: 0; 

      } // END .jumbotron

      .footer {
        /* Remove the padding that was set earlier */ 
        padding-right: 0; padding-left: 0; 
      } // END .footer

    } // END .container
  }   
}